
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.frame-2-S8R {
  width: 100%;
  height: 546rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;

  .auto-group-fqur-PSy {
    box-sizing: border-box;
    width: 192rem;
    height: 108rem;
    left: 0;
    top: 0;
    flex-direction: column;
    padding: 7.1rem 13.493rem 14.699rem 13.451rem;
    position: absolute;
    align-items: center;
    display: flex;
    background-color: #ffffff;

    .auto-group-hupv-Coj {
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 4rem 5.273rem 0rem;
      display: flex;

      .auto-group-caqq-uTF {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 2.318rem 4.846rem 0rem 0rem;
        width: 9.954rem;
        height: 10.5092rem;
        position: relative;
      }
      .vector-CSM {
        margin: 2.287rem 3.454rem 0rem 0rem;
        width: 3.7335rem;
        height: 3.9146rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .vector-XDj {
        height: 3.9146rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 2.287rem 3.454rem 0rem 0rem;
        width: 3.7335rem;
      }
      .vector-SrV {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 2.287rem 48.049rem 0rem 0rem;
        width: 3.7335rem;
        height: 3.9146rem;
      }
      .auto-group-bi1f-ZgD {
        position: relative;
        flex-shrink: 0;
        margin: 0rem 13.65rem 6.027rem 0rem;
        width: 9rem;
        height: 6.8rem;

        .ellipse-9-UHP {
          top: 0;
          background-color: #ff8f28;
          border-radius: 3.4rem;
          width: 6.8rem;
          height: 6.8rem;
          position: absolute;
          left: 1.1rem;
        }
        .home-P9T {
          height: 4.7rem;
          font-size: 3.6rem;
          font-weight: 700;
          width: 9rem;
          left: 0;
          top: 0.6rem;
          text-align: center;
          line-height: 1.3;
          color: #000000;
          font-family: K2D, 'Source Sans Pro';
          white-space: nowrap;
          position: absolute;
        }
      }
      .about-FxM {
        font-size: 3.6rem;
        color: #000000;
        white-space: nowrap;
        text-align: center;
        font-weight: 700;
        line-height: 1.3;
        font-family: K2D, 'Source Sans Pro';
        flex-shrink: 0;
        margin: 0rem 10.85rem 6.927rem 0rem;
      }
      .services-y7f {
        font-size: 3.6rem;
        color: #000000;
        font-family: K2D, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 9.3rem 6.927rem 0rem;
        text-align: center;
        font-weight: 700;
        line-height: 1.3;
        flex-shrink: 0;
      }
      .contact-He9 {
        text-align: center;
        font-size: 3.6rem;
        line-height: 1.3;
        color: #000000;
        flex-shrink: 0;
        margin-bottom: 6.9268rem;
        font-weight: 700;
        font-family: K2D, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .auto-group-m96z-Axq {
      display: flex;
      align-items: flex-end;
      flex-shrink: 0;
      margin-left: 3.6563rem;
      width: calc(100% - 3.6563rem);

      .group-5-Jp9 {
        margin-right: 14.1rem;
        width: 63.1rem;
        height: 61.9009rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .auto-group-bt7f-1yT {
        height: 65rem;
        position: relative;
        flex-shrink: 0;
        margin-bottom: 3.1009rem;
        width: 84.2rem;

        .ellipse-9-MXX {
          vertical-align: top;
          width: 65.2rem;
          height: 65rem;
          position: absolute;
          left: 19rem;
          top: 0;
          object-fit: contain;
        }
        .vector-gZo {
          left: 0.4868rem;
          top: 12.0498rem;
          object-fit: contain;
          vertical-align: top;
          width: 75.5851rem;
          height: 38.7278rem;
          position: absolute;
        }
        .rectangle-2-DZj {
          left: 0;
          top: 54rem;
          box-shadow: 0.5rem 0.7rem 0.3rem rgba(0, 0, 0, 0.25);
          background-color: #d9d9d9;
          border-radius: 3.2rem;
          width: 19rem;
          height: 5.1rem;
          position: absolute;
        }
        .contact-me-K6y {
          font-family: Cabin, 'Source Sans Pro';
          top: 54.8rem;
          text-align: center;
          font-size: 2.8rem;
          font-weight: 400;
          line-height: 1.215;
          color: #000000;
          white-space: nowrap;
          width: 13.6rem;
          height: 3.5rem;
          position: absolute;
          left: 2.7rem;
        }
      }
    }
  }
  .auto-group-y4wm-CAm {
    left: 12.09rem;
    top: 175.132rem;
    display: flex;
    align-items: flex-start;
    width: 173.1269rem;
    height: 28.5802rem;
    position: absolute;

    .vector-iQ1 {
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 19.232rem;
      width: 114.746rem;
      height: 28.5802rem;
      object-fit: contain;
    }
    .through-designs-illustrations-i-can-help-you-walk-the-path-you-want-to-take-4Cy {
      vertical-align: top;
      flex-shrink: 0;
      margin-top: 1.86rem;
      width: 39.1489rem;
      height: 18.444rem;
      object-fit: contain;
    }
  }
  .vector-LgH {
    object-fit: contain;
    vertical-align: top;
    width: 84.994rem;
    height: 15.4704rem;
    position: absolute;
    left: 11.412rem;
    top: 229.8524rem;
  }
  .component-17-5Ny {
    width: 58.5rem;
    height: 35.3rem;
    position: absolute;
    left: 6.3rem;
    top: 256.9868rem;

    .ellipse-10-DEH {
      left: 0;
      top: 0;
      object-fit: contain;
      vertical-align: top;
      width: 20.1rem;
      height: 20rem;
      position: absolute;
    }
    .component-3-LZo {
      width: 52.3rem;
      height: 22.8rem;
      position: absolute;
      left: 5rem;
      top: 5.7rem;

      .graphic-design-fry {
        margin-bottom: 2.1rem;
        line-height: 1.3;
        color: #000000;
        font-family: K2D, 'Source Sans Pro';
        white-space: nowrap;
        width: 100%;
        text-align: center;
        font-size: 7.2rem;
        font-weight: 700;
      }
      .from-logos-posters-brochures-ui-i-can-make-unique-or-simple-designs-as-long-as-its-vector-based-i-can-make-it-to-your-vision-aj3 {
        color: #000000;
        font-family: Jost, 'Source Sans Pro';
        max-width: 52.3rem;
        font-size: 2.6rem;
        font-weight: 400;
        line-height: 1.445;
      }
    }
  }
  .component-4-qQ5 {
    padding: 0rem 1.1rem 6.8rem 10rem;
    height: 30rem;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: absolute;
    left: 69.2rem;
    top: 293.3868rem;
    align-items: center;
    width: 63.1rem;

    .illustration-vwK {
      margin: 0rem 14.9rem 2.5rem 0rem;
      font-weight: 700;
      line-height: 1.3;
      text-align: center;
      font-size: 7.2rem;
      color: #000000;
      font-family: K2D, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
    .i-can-draw-up-concepts-objects-background-and-designs-my-main-strength-is-in-building-concepts-and-atmosphere-trough-drawing-daq {
      max-width: 52rem;
      font-size: 2.6rem;
      font-weight: 400;
      line-height: 1.445;
      color: #000000;
      font-family: Jost, 'Source Sans Pro';
      flex-shrink: 0;
    }
  }
  .auto-group-xm9s-7ku {
    left: 26.3rem;
    top: 262.6868rem;
    display: flex;
    align-items: center;
    width: 161rem;
    height: 46.7rem;
    position: absolute;

    .auto-group-pr4q-2ss {
      box-sizing: border-box;
      padding: 4.9rem 17.6rem 0rem 0rem;
      height: 100%;
      display: flex;
      align-items: flex-end;
      flex-shrink: 0;

      .image-1-NB3 {
        height: 20.2rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 3.8rem;
        flex-shrink: 0;
        margin-right: 42.2rem;
        width: 20.7rem;
      }
      .image-2-UUy {
        margin-bottom: 19.2rem;
        width: 22.6rem;
        height: 22.6rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 5rem;
        flex-shrink: 0;
      }
    }
    .auto-group-yezf-CA5 {
      width: 57.9rem;
      height: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .auto-group-vnks-wNZ {
        position: relative;
        flex-shrink: 0;
        margin-bottom: 1.1rem;
        width: 100%;
        height: 25.4rem;

        .ellipse-11-tYh {
          width: 16.3rem;
          height: 16.3rem;
          position: absolute;
          left: 0;
          top: 9.1rem;
          background-color: #ff8f28;
          border-radius: 8.15rem;
        }
        .component-5-phF {
          left: 4.25rem;
          top: 0;
          width: 53.65rem;
          height: 18.3rem;
          position: absolute;

          .video-editing-AWD {
            font-weight: 700;
            color: #000000;
            margin-bottom: 1.3rem;
            width: 100%;
            font-size: 7.2rem;
            white-space: nowrap;
            text-align: center;
            line-height: 1.3;
            font-family: K2D, 'Source Sans Pro';
          }
          .simple-video-formatting-and-structuring-to-help-create-smoother-and-fun-viewing-experiences-cmX {
            font-size: 2.6rem;
            font-weight: 400;
            line-height: 1.445;
            color: #000000;
            font-family: Jost, 'Source Sans Pro';
            margin-left: 0.95rem;
            max-width: 52.7rem;
          }
        }
      }
      .image-3-hHB {
        margin-right: 0.2rem;
        width: 20.7rem;
        height: 20.2rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 3.7rem;
        flex-shrink: 0;
      }
    }
  }
  .vector-RU5 {
    vertical-align: top;
    width: 97.633rem;
    height: 22.1096rem;
    position: absolute;
    left: 5.9465rem;
    top: 333.6698rem;
    object-fit: contain;
  }
  .auto-group-obgd-AAm {
    padding: 1.55rem 2.104rem 1.508rem 2.104rem;
    height: 18.1579rem;
    position: absolute;
    box-sizing: border-box;
    width: 56.0989rem;
    left: 59.8011rem;
    top: 413.2818rem;
    background-color: #d9d9d9;
    border-radius: 1.2rem;

    .description-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-GDo {
      font-family: Jost, 'Source Sans Pro';
      max-width: 48.8rem;
      font-size: 2.6rem;
      font-weight: 400;
      line-height: 1.445;
      color: #000000;
    }
  }
  .component-18-ibb {
    position: absolute;
    left: 0;
    top: 363.1242rem;
    display: flex;
    align-items: flex-end;
    width: 238.2678rem;
    height: 46.9793rem;

    .thingyyy-2-copy-1-TJH {
      width: 46.9793rem;
      height: 46.8706rem;
      position: relative;
      background-size: 241.897% 169.444%;
      background-position: -33.3952rem -16.1815rem;
      background-image: url('REPLACE_IMAGE:98d6ffd4a86cbc8891d29526056777e53bcd0512');
      flex-shrink: 0;
      margin-right: 4.6762rem;
    }
    .shattered-skies-2-1-vhf {
      width: 46.8706rem;
      height: 46.8706rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 4.6762rem;
    }
    .aha-i-still-have-some-ideas-1-rrD {
      margin-right: 4.6762rem;
      width: 46.8706rem;
      height: 46.8706rem;
      position: relative;
      background-size: 135.248% 100.99%;
      background-position: -13.6109rem -0.1255rem;
      background-image: url('REPLACE_IMAGE:f2b7acddb28f916e6a0d6b19d55c1f77776a975a');
      flex-shrink: 0;
    }
    .logo-arctic-1-wsf {
      flex-shrink: 0;
      margin-bottom: 0rem;
      width: 83.5188rem;
      height: 46.9793rem;
      object-fit: cover;
      vertical-align: top;
    }
  }
  .vector-tH7 {
    top: 373.7957rem;
    object-fit: contain;
    vertical-align: top;
    width: 15.7rem;
    height: 15.7rem;
    position: absolute;
    left: 174.6rem;
  }
  .vector-oQ5 {
    vertical-align: top;
    width: 15.7rem;
    height: 15.7rem;
    position: absolute;
    left: 3.45rem;
    top: 373.7957rem;
    object-fit: contain;
  }
  .auto-group-3yko-wFP {
    position: absolute;
    left: 29.3007rem;
    top: 479.7882rem;
    row-gap: 12.5rem;
    display: flex;
    flex-direction: column;
    width: 74.4rem;
    height: 42.4rem;

    .https-wwwinstagramcom-aronlie--ST3 {
      font-size: 4rem;
      font-weight: 700;
      line-height: 1.445;
      color: #000000;
      font-family: Jost, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      display: flex;
    }
    .item-62-852-7216-3480-AP3 {
      display: flex;
      font-size: 4rem;
      font-weight: 700;
      line-height: 1.445;
      color: #000000;
      font-family: Jost, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
    .blueherorsgmailcom-5ku {
      font-family: Jost, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      display: flex;
      font-size: 4rem;
      font-weight: 700;
      line-height: 1.445;
      color: #000000;
    }
  }
  .auto-group-d6qr-d1j {
    vertical-align: top;
    width: 93rem;
    height: 91.6rem;
    position: absolute;
    left: 130.0007rem;
    top: 487.8882rem;
    object-fit: contain;
  }
  .auto-group-plgq-YeV {
    top: 476.8882rem;
    display: flex;
    width: 11.6rem;
    position: absolute;
    left: 11.3007rem;
    row-gap: 6.7rem;
    align-items: center;
    flex-direction: column;
    height: 48.2rem;

    .instagram-exR {
      width: 11.6rem;
      height: 11.6rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .phone-zmP {
      width: 11.6rem;
      height: 11.6rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .email-kEm {
      width: 11.6rem;
      height: 11.6rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .auto-group-lt6z-sqB {
    width: 1rem;
    left: 25.6007rem;
    top: 477.4882rem;
    row-gap: 7.9rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 47rem;
    position: absolute;

    .rectangle-7-bWH {
      width: 100%;
      height: 10.4rem;
      background-color: #000000;
      flex-shrink: 0;
    }
    .rectangle-8-x5w {
      width: 100%;
      height: 10.4rem;
      background-color: #000000;
      flex-shrink: 0;
    }
    .rectangle-9-iL1 {
      height: 10.4rem;
      background-color: #000000;
      flex-shrink: 0;
      width: 100%;
    }
  }
  .vector-5AZ {
    object-fit: contain;
    vertical-align: top;
    width: 86.9428rem;
    height: 12.3848rem;
    position: absolute;
    left: 11.3327rem;
    top: 454.1074rem;
  }
  .auto-group-xaa5-yQM {
    object-fit: contain;
    vertical-align: top;
    width: 615.6887rem;
    height: 50rem;
    position: absolute;
    left: 0;
    top: 120.5rem;
  }
}
